div(ng-controller='CalendarController as vm', ng-init="init()")
  include navBar
  .container
      h2.text-center {{ vm.calendarTitle }}
      .row
        .col-md-6.text-center
          .btn-group
            button.btn.btn-primary(mwl-date-modifier='', date='vm.viewDate', decrement='vm.calendarView', ng-click='previousSelected()')
              | Previous
            button.btn.btn-default(mwl-date-modifier='', date='vm.viewDate', set-to-today='', ng-click='vm.cellIsOpen = false')
              | Today
            button.btn.btn-primary(mwl-date-modifier='', date='vm.viewDate', increment='vm.calendarView', ng-click='nextSelected()')
              | Next
        br.visible-xs.visible-sm
        .col-md-6.text-center
          .btn-group
            label.btn.btn-primary(ng-model='vm.calendarView', uib-btn-radio="'year'", ng-click='vm.cellIsOpen = false') Year
            label.btn.btn-primary(ng-model='vm.calendarView', uib-btn-radio="'month'", ng-click='vm.cellIsOpen = false') Month
            label.btn.btn-primary(ng-model='vm.calendarView', uib-btn-radio="'week'", ng-click='vm.cellIsOpen = false') Week
            label.btn.btn-primary(ng-model='vm.calendarView', uib-btn-radio="'day'", ng-click='vm.cellIsOpen = false') Day
      br
      mwl-calendar(events='vm.events', view='vm.calendarView', view-title='vm.calendarTitle', view-date='vm.viewDate', on-event-click='vm.eventClicked(calendarEvent)', on-event-times-changed='vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd', cell-is-open='vm.cellIsOpen', day-view-start='06:00', day-view-end='22:59', day-view-split='30', cell-modifier='vm.modifyCell(calendarCell)', cell-auto-open-disabled='true', on-timespan-click='vm.timespanClicked(calendarDate, calendarCell)')
      br
      br
      br
      h3#event-editor
        | Edit events
        button.btn.btn-primary.pull-right(ng-click='vm.addEvent()')
          | Add new
        .clearfix
      table.table.table-bordered
        thead
          tr
            th Title
            th Primary color
            th Secondary color
            th Starts at
            th Ends at
            th Remove
        tbody
          tr(ng-repeat='event in vm.events track by $index')
            td
              input.form-control(type='text', ng-model='event.title')
            td
              input.form-control(colorpicker='', type='text', ng-model='event.color.primary')
            td
              input.form-control(colorpicker='', type='text', ng-model='event.color.secondary')
            td
              p.input-group(style='max-width: 250px')
                input.form-control(type='text', readonly='', uib-datepicker-popup='dd MMMM yyyy', ng-model='event.startsAt', is-open='event.startOpen', close-text='Close')
                span.input-group-btn
                  button.btn.btn-default(type='button', ng-click="vm.toggle($event, 'startOpen', event)")
                    i.glyphicon.glyphicon-calendar
              div(uib-timepicker='', ng-model='event.startsAt', hour-step='1', minute-step='15', show-meridian='true')
            td
              p.input-group(style='max-width: 250px')
                input.form-control(type='text', readonly='', uib-datepicker-popup='dd MMMM yyyy', ng-model='event.endsAt', is-open='event.endOpen', close-text='Close')
                span.input-group-btn
                  button.btn.btn-default(type='button', ng-click="vm.toggle($event, 'endOpen', event)")
                    i.glyphicon.glyphicon-calendar
              div(uib-timepicker='', ng-model='event.endsAt', hour-step='1', minute-step='15', show-meridian='true')
            td
              button.btn.btn-danger(ng-click='vm.events.splice($index, 1)')
                | Delete
